In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime,date

In [4]:
data=pd.read_csv("pre-cleaned_data.csv")

In [5]:
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'], errors='coerce')

In [6]:
data['timedifference']=(pd.to_datetime('today')-data['Invoice Date'])

In [7]:
data08=data.loc[data['Year'].isin(['2018'])]
data08.head(5)

,InvoiceNo,StockCode,Quantity Shipped,Year,Invoice Date,UnitPrice,Ext-Price,CustomerID,Country,GM%,...,REGION,SALES P,LOCATION,QUANTITY ON HAND,UNIT COST,EXTENDED COST,DATE,LASTRECEIPTDATE,Commodity,timedifference
2,2541431,23166,664224.250,2018,2018-05-09,1.130416,750849.719800,12346,United Kingdom,-0.139276,...,WEST,JEFF Y,WSE 2,1892.00000,1.287856,2436.623660,6/1/18 0:00,8/5/14 0:00,Washer,720 days 22:51:37.461516
3,2541431,23166,664224.250,2018,2018-05-09,1.130416,750849.719800,12346,United Kingdom,-0.139276,...,WEST,JEFF Y,WSE 2,1627.12000,1.287856,2095.496347,6/1/17 0:00,11/10/13 0:00,Washer,720 days 22:51:37.461516
6,2542237,22417,2.700,2018,NaT,0.975580,2.634066,12347,Iceland,0.066757,...,NORTH,JOHN A,WSE 1,15887.14286,0.910453,14464.495630,6/1/18 0:00,7/9/15 0:00,Nut,NaT
7,2542237,22417,2.700,2018,NaT,0.975580,2.634066,12347,Iceland,0.066757,...,NORTH,JOHN A,WSE 1,13345.20000,0.910453,12150.176330,6/1/17 0:00,3/24/18 0:00,Nut,NaT
8,2549222,16008,21.543,2018,2018-04-10,1.014800,21.861836,12347,Iceland,-0.000825,...,NORTH,JOHN A,WSE 2,5546.00000,1.015637,5632.724144,6/1/18 0:00,8/26/16 0:00,Bolt,749 days 22:51:37.461516

In [8]:
data07=data.loc[data['Year'].isin(['2017'])]
data07.head(5)

,InvoiceNo,StockCode,Quantity Shipped,Year,Invoice Date,UnitPrice,Ext-Price,CustomerID,Country,GM%,...,REGION,SALES P,LOCATION,QUANTITY ON HAND,UNIT COST,EXTENDED COST,DATE,LASTRECEIPTDATE,Commodity,timedifference
0,C541433,23166,16.65,2017,2017-01-18,1.095992,18.248267,12346,United Kingdom,-0.175060,...,WEST,JEFF Y,WSE 2,1892.00000,1.287856,2436.623660,6/1/18 0:00,8/5/14 0:00,Washer,1196 days 22:51:37.461516
1,C541433,23166,16.65,2017,2017-01-18,1.095992,18.248267,12346,United Kingdom,-0.175060,...,WEST,JEFF Y,WSE 2,1627.12000,1.287856,2095.496347,6/1/17 0:00,11/10/13 0:00,Washer,1196 days 22:51:37.461516
4,542237,22417,1.00,2017,2017-01-26,0.854470,0.854470,12347,Iceland,-0.065518,...,NORTH,JOHN A,WSE 1,15887.14286,0.910453,14464.495630,6/1/18 0:00,7/9/15 0:00,Nut,1188 days 22:51:37.461516
5,542237,22417,1.00,2017,2017-01-26,0.854470,0.854470,12347,Iceland,-0.065518,...,NORTH,JOHN A,WSE 1,13345.20000,0.910453,12150.176330,6/1/17 0:00,3/24/18 0:00,Nut,1188 days 22:51:37.461516
10,549222,16008,6.45,2017,2017-04-07,1.030600,6.647370,12347,Iceland,0.014518,...,NORTH,JOHN A,WSE 2,5546.00000,1.015637,5632.724144,6/1/18 0:00,8/26/16 0:00,Bolt,1117 days 22:51:37.461516

In [9]:
R_Agg = data07.groupby(by=['CustomerID']
)['timedifference'].agg({
    'RecencyAgg': np.min
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
R_Agg1 = data08.groupby(by=['CustomerID']
)['timedifference'].agg({
    'RecencyAgg': np.min
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
F_Agg = data07.groupby( by=['CustomerID']
)['InvoiceNo'].agg({'FrequencyAgg': np.size
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [12]:
F_Agg1 = data08.groupby( by=['CustomerID']
)['InvoiceNo'].agg({'FrequencyAgg': np.size
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [13]:
M_Agg = data07.groupby(by=['CustomerID']
)['Ext-Price'].agg({'MonetaryAgg': np.sum
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [14]:
M_Agg1 = data08.groupby(by=['CustomerID']
)['Ext-Price'].agg({'MonetaryAgg': np.sum
})

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

In [15]:
aggData07 = R_Agg.join(F_Agg).join(M_Agg)
aggData07.head(10)

                          RecencyAgg  FrequencyAgg   MonetaryAgg
CustomerID
12346      1196 days 22:51:37.461516             2     36.496534
12347       873 days 22:51:37.461516           190  10732.347944
12348       946 days 22:51:37.461516            20   3273.166844
12349       889 days 22:51:37.461516           120   1539.890264
12350      1181 days 22:51:37.461516            32    441.229418
12352       907 days 22:51:37.461516           106   1971.427793
12353      1075 days 22:51:37.461516             6    159.849998
12354      1103 days 22:51:37.461516            92  20797.438635
12356       893 days 22:51:37.461516             2      1.553240
12357       904 days 22:51:37.461516           232  21241.118414

In [16]:
aggData08 = R_Agg1.join(F_Agg1).join(M_Agg1)

In [17]:
bins = aggData07.RecencyAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)

labels = [5, 4, 3, 2, 1]
R_S = pd.cut(
    aggData07.RecencyAgg, 
    bins, labels=labels
)

In [18]:
bins = aggData08.RecencyAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)

labels = [5, 4, 3, 2, 1]
R_S2 = pd.cut(
    aggData08.RecencyAgg, 
    bins, labels=labels
)

In [19]:

bins = aggData07.FrequencyAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)
bins[0] = 0;
labels = [1, 2, 3, 4, 5];
F_S = pd.cut(
    aggData07.FrequencyAgg, 
    bins, labels=labels
)

In [20]:

bins = aggData08.FrequencyAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)
bins[0] = 0;
labels = [1, 2, 3, 4, 5];
F_S2 = pd.cut(
    aggData08.FrequencyAgg, 
    bins, labels=labels
)

In [21]:

bins = aggData07.MonetaryAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)
bins[0] = 0
labels = [1, 2, 3, 4, 5]
M_S = pd.cut(aggData07.MonetaryAgg, bins, labels=labels)

In [22]:

bins = aggData08.MonetaryAgg.quantile(
    q=[0, 0.2, 0.4, 0.6, 0.8, 1],
    interpolation='nearest'
)
bins[0] = 0
labels = [1, 2, 3, 4, 5]
M_S2 = pd.cut(aggData08.MonetaryAgg, bins, labels=labels)

In [23]:
aggData07['R_S']=R_S
aggData07['F_S']=F_S
aggData07['M_S']=M_S
aggData08['R_S']=R_S2
aggData08['F_S']=F_S2
aggData08['M_S']=M_S2

In [24]:
aggData07['RFM'] = 100*R_S.astype(int) + 10*F_S.astype(int) + 1*M_S.astype(int)
 
bins = aggData07.RFM.quantile(
    q=[
        0, 0.125, 0.25, 0.375, 0.5, 
        0.625, 0.75, 0.875, 1
    ],
    interpolation='nearest'
)

In [25]:
aggData08['RFM'] = 100*R_S2.astype(int) + 10*F_S2.astype(int) + 1*M_S2.astype(int)
 
bins = aggData08.RFM.quantile(
    q=[
        0, 0.125, 0.25, 0.375, 0.5, 
        0.625, 0.75, 0.875, 1
    ],
    interpolation='nearest'
)

# gold customer

In [26]:
aggData07[aggData07["RFM"]==555].count()["RFM"]

279

In [27]:
aggData08[aggData08["RFM"]==555].count()["RFM"]

210

In [28]:
gold17=aggData07.loc[aggData07['RFM'] == 555]
gold17.reset_index(inplace=True)

In [29]:
gold17.head(5)

,CustomerID,RecencyAgg,FrequencyAgg,MonetaryAgg,R_S,F_S,M_S,RFM
0,12359,878 days 22:51:37.461516,300,6332.372746,5,5,5,555
1,12362,874 days 22:51:37.461516,460,9128.664646,5,5,5,555
2,12433,880 days 22:51:37.461516,1976,90350.459660,5,5,5,555
3,12437,872 days 22:51:37.461516,298,20985.082462,5,5,5,555
4,12451,881 days 22:51:37.461516,472,11052.040912,5,5,5,555

In [30]:
gold18=aggData08.loc[aggData08['RFM'] == 555]
gold18.reset_index(inplace=True)

In [31]:
def findMissing(a, b, n, m): 
      
    # Store all elements of second  
    # array in a hash table 
    s = dict() 
    for i in range(m): 
        s[b[i]] = 1
  
    # Print all elements of first array  
    # that are not present in hash table 
    for i in range(n): 
        if a[i] not in s.keys(): 
            print(a[i], end = " ")

# 17 gold in18

In [32]:
a=gold17['CustomerID'].unique()

b=gold18['CustomerID'].unique()
n=len(a)
m=len(b)
findMissing(a,b,n,m)

12359 12362 12437 12451 12536 12553 12562 12569 12627 12683 12700 12709 12714 12753 12766 12839 12841 12856 12955 13001 13030 13069 13081 13090 13113 13115 13137 13184 13230 13266 13269 13362 13394 13437 13468 13471 13571 13576 13599 13705 13755 13777 13798 13949 13985 14071 14096 14132 14146 14189 14191 14194 14262 14367 14395 14418 14546 14547 14562 14572 14659 14702 14713 14735 14868 14895 14907 15021 15033 15046 15144 15152 15189 15271 15290 15299 15351 15382 15436 15443 15484 15498 15514 15547 15555 15701 15750 15769 15804 15838 15861 15862 15867 15907 15984 15987 15993 16011 16013 16015 16133 16145 16161 16191 16242 16326 16360 16393 16426 16440 16474 16523 16539 16592 16626 16672 16678 16700 16701 16717 16719 16744 16754 16764 16818 16839 16873 16910 16942 17049 17068 17091 17231 17238 17243 17287 17364 17389 17419 17450 17528 17567 17576 17590 17602 17651 17673 17675 17686 17706 17730 17732 17744 17757 17769 17809 17811 17813 17861 17870 17897 17920 18041 18055 18096 18102 18109 18122 18145 18172 18225 18229 18245

# gold in 18 not 17

In [32]:
a=gold18['CustomerID'].unique()

b=gold17['CustomerID'].unique()
n=len(a)
m=len(b)
findMissing(a,b,n,m)

12370 12377 12383 12415 12431 12444 12474 12481 12484 12668 12721 12867 13093 13097 13148 13268 13319 13505 13869 14016 14032 14078 14099 14156 14159 14236 14237 14404 14415 14426 14496 14524 14583 14680 14701 14733 14796 14808 14849 14854 15005 15034 15039 15044 15070 15100 15311 15356 15358 15379 15384 15513 15570 15615 15644 15665 15700 15834 15998 16033 16059 16186 16187 16218 16241 16395 16422 16550 16553 16558 16670 16710 16713 16770 16782 16843 16898 16916 16919 16931 16940 16995 17001 17181 17315 17323 17372 17420 17428 17581 17585 17643 17659 17690 17799 17802 17865 17961 17968 17979 18077 18085 18223 18260

# silver

In [35]:
aggData08[(aggData08['RFM'] != 555)& ((aggData08['R_S'] >= 4) | (aggData08['F_S'] >=4)) &(aggData08['M_S'] >= 4)].count()['RFM']

784

In [36]:
aggData07[(aggData07['RFM'] != 555)& ((aggData07['R_S'] >= 4) | (aggData07['F_S'] >=4)) &(aggData07['M_S'] >= 4)].count()['RFM']

1249

# Bronze:

In [37]:
aggData08[((aggData08['M_S'] == 2) | (aggData08['M_S'] == 3))&((aggData08['R_S'] >= 3) | (aggData08['F_S'] >= 3))].count()["RFM"]

928

In [38]:
aggData07[((aggData07['M_S'] == 2) | (aggData07['M_S'] == 3))&((aggData07['R_S'] >= 3) | (aggData07['F_S'] >= 3))].count()["RFM"]

1403

# in 18 not 17

In [39]:
bronze18=aggData08[((aggData08['M_S'] == 2) | (aggData08['M_S'] == 3))&((aggData08['R_S'] >= 3) | (aggData08['F_S'] >= 3))]
bronze17=aggData07[((aggData08['M_S'] == 2) | (aggData07['M_S'] == 3))&((aggData07['R_S'] >= 3) | (aggData07['F_S'] >= 3))]
bronze18.reset_index(inplace=True) 
bronze17.reset_index(inplace=True)
g=bronze18['CustomerID'].unique()
h=bronze17['CustomerID'].unique()
n=len(g)
m=len(h)
findMissing(g,h,n,m)

12355 12362 12373 12407 12417 12423 12428 12437 12447 12489 12530 12561 12564 12573 12574 12592 12600 12609 12613 12624 12649 12652 12664 12670 12676 12708 12709 12775 12782 12792 12793 12811 12826 12853 12857 12871 12872 12888 12904 12909 12924 12928 12951 12976 12997 13013 13014 13094 13110 13118 13121 13136 13168 13171 13174 13185 13187 13196 13220 13221 13239 13240 13285 13304 13309 13317 13327 13341 13358 13405 13410 13417 13456 13491 13496 13499 13502 13527 13564 13565 13570 13590 13606 13617 13623 13626 13630 13632 13637 13647 13650 13706 13708 13720 13752 13761 13772 13777 13782 13800 13824 13859 13880 13888 13898 13899 13901 13950 13976 13993 14004 14005 14023 14075 14114 14129 14130 14133 14149 14163 14188 14205 14211 14217 14221 14224 14229 14232 14242 14256 14270 14276 14289 14292 14299 14315 14320 14321 14339 14341 14401 14419 14423 14428 14431 14440 14449 14457 14514 14525 14544 14618 14620 14653 14679 14689 14696 14697 14700 14704 14709 14732 14759 14762 14779 14794 14805 14825 14850 14859 14867 14873 14883 14886 14896 14903 14907 14912 14959 14963 14984 15002 15019 15026 15071 15090 15098 15130 15132 15134 15143 15144 15145 15164 15171 15172 15199 15203 15210 15219 15236 15252 15279 15290 15298 15301 15312 15346 15437 15453 15465 15485 15497 15537 15561 15581 15607 15609 15630 15671 15687 15694 15696 15703 15752 15775 15789 15796 15804 15809 15810 15826 15827 15835 15841 15843 15858 15865 15909 15916 15932 15935 15955 15970 15974 15980 15981 15984 16003 16006 16010 16016 16018 16031 16034 16062 16063 16065 16116 16131 16150 16172 16175 16182 16188 16193 16205 16224 16230 16232 16244 16250 16266 16276 16297 16303 16350 16359 16393 16399 16419 16434 16440 16455 16461 16466 16495 16497 16499 16511 16549 16556 16567 16586 16628 16633 16643 16655 16660 16697 16717 16719 16727 16730 16744 16788 16795 16805 16816 16837 16841 16850 16875 16880 16882 16912 16942 16947 16954 16955 16957 16960 17002 17029 17042 17058 17062 17109 17115 17128 17155 17157 17158 17159 17162 17187 17212 17217 17218 17226 17251 17278 17303 17329 17358 17362 17438 17442 17449 17460 17470 17472 17486 17501 17505 17512 17537 17551 17555 17556 17569 17571 17579 17589 17631 17642 17644 17648 17658 17671 17672 17706 17708 17774 17790 17796 17800 17843 17861 17864 17880 17883 17890 17893 17917 17921 17931 17955 17960 17970 17972 18016 18044 18062 18065 18071 18073 18106 18112 18119 18177 18189 18202 18212 18221 18263

/Users/meganchen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# in 17 not in 18

In [40]:
g=bronze17['CustomerID'].unique()
h=bronze18['CustomerID'].unique()
n=len(g)
m=len(h)
findMissing(g,h,n,m)

12383 12388 12399 12421 12432 12465 12494 12514 12523 12541 12576 12679 12694 12697 12704 12717 12759 12816 12820 12840 12878 12913 12919 12930 12942 12963 12989 12993 13008 13027 13037 13049 13055 13077 13080 13092 13117 13122 13126 13141 13211 13213 13246 13280 13284 13368 13437 13453 13461 13475 13493 13495 13510 13515 13516 13531 13614 13725 13736 13787 13791 13862 13890 13895 13937 13982 13983 14013 14083 14113 14150 14152 14154 14201 14209 14215 14222 14240 14267 14293 14297 14344 14364 14383 14393 14397 14403 14414 14460 14477 14491 14512 14541 14549 14553 14560 14561 14622 14628 14636 14643 14657 14669 14673 14741 14765 14790 14798 14898 14901 14960 14973 14988 15014 15117 15122 15146 15182 15192 15197 15262 15370 15376 15392 15517 15535 15589 15599 15625 15641 15656 15658 15669 15674 15754 15808 15898 15952 15976 16022 16083 16105 16122 16214 16233 16247 16271 16279 16327 16357 16365 16367 16386 16392 16463 16470 16473 16484 16503 16531 16560 16609 16612 16766 16780 16782 16804 16807 16842 16877 16889 16950 16996 17007 17041 17047 17054 17063 17064 17071 17095 17096 17110 17114 17126 17147 17166 17175 17230 17236 17262 17265 17299 17324 17351 17371 17394 17409 17444 17469 17491 17515 17522 17560 17604 17629 17639 17664 17669 17676 17720 17722 17731 17739 17759 17768 17838 17874 17877 17889 17980 17988 17990 18069 18075 18078 18168 18193 18252 18257 18259

In [41]:
aggData07.to_csv("aggData07.csv",sep=",",index=True,header=True)

In [42]:
aggData08.to_csv("aggData08.csv",sep=",",index=True,header=True)

In [43]:
bronze17.to_csv("bronze17.csv",sep=",",index=True,header=True)

In [44]:
bronze18.to_csv("bronze18.csv",sep=",",index=True,header=True)

In [47]:
gold17.to_csv("gold17.csv",sep=",",index=True,header=True)

In [48]:
gold18.to_csv("gold18.csv",sep=",",index=True,header=True)