In [1]:
# for print all the result
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import gc
import os
import time
import numpy as np
import pandas as pd

In [2]:
merge_start_time = time.time()

In [3]:
# You need to change this path to your own working directory
os.chdir('C:/Users/jiexu/OneDrive/20spring/business analytics practium/')

In [4]:
#read sheet SALES_DATA
sales_data = pd.read_excel('POC-DATA-JUNE1.xlsx',sheet_name = 'SALES_DATA')
#read sheet 
product = pd.read_excel('POC-DATA-JUNE1.xlsx',sheet_name = 'PRODUCT')
#read inventory data
inventory_data = pd.read_excel('POC-DATA-JUNE1.xlsx',sheet_name = 'INVENTORY DATA')

In [5]:
table1 = pd.merge(inventory_data, product, how = 'left', on = 'StockCode').fillna('0')
table2 = pd.merge(sales_data, table1, how = 'left', on = 'StockCode').fillna('0')

In [6]:
# restart point
df = table2

In [7]:
del sales_data
del product
del inventory_data
del table1
del table2
gc.collect()

40

In [8]:
for col in df:
    if len(df[col].unique()) <= 40:
        print(df[col].name,'---------------',df[col].unique())
    else:
        print(df[col].name,'--------------- Out of range')

InvoiceNo --------------- Out of range
StockCode --------------- Out of range
Quantity Shipped --------------- Out of range
Year --------------- [2017 2018 2016]
Invoice Date --------------- Out of range
UnitPrice --------------- Out of range
Ext-Price --------------- Out of range
CustomerID --------------- Out of range
Country --------------- ['United Kingdom' 'EIRE' 'Germany' 'France' 'Israel' 'Austria' 'Norway'
 'Finland' 'Spain' 'Belgium' 'Switzerland' 'Portugal' 'Netherlands'
 'Singapore' 'Japan' 'Sweden' 'Malta' 'Greece' 'Hong Kong' 'Unspecified'
 'Cyprus' 'Canada' 'United Arab Emirates' 'Australia' 'Italy'
 'Channel Islands' 'Denmark' 'USA' 'Poland' 'Iceland' 'Czech Republic'
 'RSA' 'European Community' 'Lebanon' 'Saudi Arabia' 'Lithuania' 'Bahrain'
 'Brazil']
GM% --------------- Out of range
Shipper --------------- ['Delivery Truck' 'UPS Next day Air' 'UPS ground 2nd day'
 'UPS ground 3rd day']
COST --------------- Out of range
EXT COST --------------- Out of range
REGION --------------- ['SOUTH' 'WEST' 'CENTRAL' 'NORTH']
SALES P --------------- ['GRACE J' 'JEFF Y' 'PETER T' 'GAIL H' 'JOHN A' 'STEPHAN B']
Unnamed: 15 --------------- Out of range
LOCATION --------------- ['WSE 1' '0' 'WSE 2']
DESCRIPTION --------------- ['0']
QUANTITY ON HAND --------------- Out of range
UNIT OF MEASURE --------------- ['EACH' '0']
UNIT COST --------------- Out of range
EXTENDED COST --------------- Out of range
DATE --------------- [Timestamp('2018-06-01 00:00:00') Timestamp('2017-06-01 00:00:00') '0']
LAST RECEIPT DATE  --------------- Out of range
Commodity --------------- ['Studs' '0' 'Bolt' 'Screw' 'Nut' 'Washer']

In [9]:
df = df.drop(columns = ['Unnamed: 15', 'DESCRIPTION', 'UNIT OF MEASURE'])
df = df[df.Commodity != '0']
df = df[df.DATE  != '0']
df = df[df.LOCATION   != '0']
df.isnull().sum()
df.shape

InvoiceNo             0
StockCode             0
Quantity Shipped      0
Year                  0
Invoice Date          0
UnitPrice             0
Ext-Price             0
CustomerID            0
Country               0
GM%                   0
Shipper               0
COST                  0
EXT COST              0
REGION                0
SALES P               0
LOCATION              0
QUANTITY ON HAND      0
UNIT COST             0
EXTENDED COST         0
DATE                  0
LAST RECEIPT DATE     0
Commodity             0
dtype: int64

(1120060, 22)

In [10]:
df.to_csv('pre-cleaned_data.csv', index = False)

In [11]:
raw = pd.read_csv('pre-cleaned_data.csv')
raw.head()
raw.shape

,InvoiceNo,StockCode,Quantity Shipped,Year,Invoice Date,UnitPrice,Ext-Price,CustomerID,Country,GM%,...,EXT COST,REGION,SALES P,LOCATION,QUANTITY ON HAND,UNIT COST,EXTENDED COST,DATE,LAST RECEIPT DATE,Commodity
0,568200,PADS,5.00,2017,2017-09-25 00:00:00,0.999975,4.999876,16198,United Kingdom,0.000023,...,4.999763,SOUTH,GRACE J,WSE 1,0.833333,0.999953,0.833294,2018-06-01 00:00:00,2018-01-26 00:00:00,Studs
1,568200,PADS,5.00,2017,2017-09-25 00:00:00,0.999975,4.999876,16198,United Kingdom,0.000023,...,4.999763,SOUTH,GRACE J,WSE 1,0.591667,0.999953,0.591639,2017-06-01 00:00:00,2017-10-09 00:00:00,Studs
2,561226,PADS,5.00,2017,2017-07-26 00:00:00,0.999886,4.999428,15618,United Kingdom,-0.000067,...,4.999763,SOUTH,GRACE J,WSE 1,0.833333,0.999953,0.833294,2018-06-01 00:00:00,2018-01-26 00:00:00,Studs
3,561226,PADS,5.00,2017,2017-07-26 00:00:00,0.999886,4.999428,15618,United Kingdom,-0.000067,...,4.999763,SOUTH,GRACE J,WSE 1,0.591667,0.999953,0.591639,2017-06-01 00:00:00,2017-10-09 00:00:00,Studs
4,2550193,PADS,7.08,2018,2018-06-08 00:00:00,0.999962,7.079728,13952,United Kingdom,0.000009,...,7.079664,CENTRAL,PETER T,WSE 1,0.833333,0.999953,0.833294,2018-06-01 00:00:00,2018-01-26 00:00:00,Studs

(1120060, 22)

In [12]:
merge_stop_time = time.time()
merge_time_flow = merge_stop_time - merge_start_time
print('Table Merging Time =','%.4f' % merge_time_flow,'s')

Table Merging Time = 269.4240 s